<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Log ind</title>
    <th:block th:include="fragments/head :: headInclude"/>
</head>
<body>

<div class="container-fluid outer-box">
    <div class="container login-box">
        <div class="login-header">
            <div class="row">
                <img class="col-sm-2 logo" src="/images/hgi.png" alt="">
                <h3 class="col-sm-10 company">HGI's Vikar system</h3>
            </div>
        </div>
        <div class="login-content">
            <form method="post" action="/login">
                <div class="row username-row">
                    <label class="username-label col-sm-12">Brugernavn:</label>
                    <input class="username-input col-sm-12" name="username" value="instructor@hgi.dk"/>
                </div>
                <div class="row password-row">
                    <label class="password-label col-sm-12">Adgangskode:</label>
                    <input class="password-input col-sm-12" name="password" value="1234"/>
                </div>
                <div class="row">
                    <button class="login-button" type="submit">Log ind</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>